<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All the pictures</title>
</head>

<body>
    <%- include('./partials/navigation.ejs') %>

    <h1>List of Images </h1>

    <% if (img.length==0) { %>
        <h3>There are no images yet
        </h3>
        <% } else { %>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>image</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% img.forEach( (img)=> { %>
                        <tr>
                            <td>
                                <%= img.title.toUpperCase() %>
                            </td>
                            <td>
                                <img alt="Qries" src=<%= img.url %> width="auto" height="auto"> 
                            </td>
                            <td>
                                <%= img.date %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <% } %>

    

</body>

</html>