<ul>
    <% if (inMainMenu) { %>
        <li><a class="active" href="/">Mostrar imagenes</a></li>
        <li><a href="/addImage">Añadir imagenes</a></li>
    <% } else { %>
        <li><a href="/">Mostrar imagenes</a></li>
        <li><a class="active" href="/addImage">Añadir imagenes</a></li>

    <% } %>
</ul>